/* line 1, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/* line 7, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
html, body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

/* line 12, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
.container {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

/* line 20, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
aside {
  margin: 2%;
  float: left;
  width: 25%;
  border: 5px solid #2b2b2b;
  height: 100%;
  border-radius: 28px;
}

/* line 29, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
main {
  margin: 2%;
  float: left;
  width: 65%;
  border: 5px solid #2b2b2b;
  height: 100%;
  border-radius: 28px;
}

/* line 38, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Titillium Web", sans-serif;
}

/* line 42, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
h1 {
  font-size: 30pt;
  font-weight: bold;
  padding-top: 5%;
}

/* line 48, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
h2 {
  font-size: 15pt;
  text-decoration: underline;
}

/* line 53, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
h3 {
  font-size: 12pt;
  font-weight: bold;
}

/* line 58, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
p {
  margin: 5%;
}

/* line 62, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
#member-position {
  background-color: #2b2b2b;
  border-radius: 28pt;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

/* line 70, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
#bands-owned {
  color: white;
  width: 80%;
  margin: 5%;
  background-color: #2b2b2b;
  border-radius: 28pt;
  margin-right: auto;
  margin-left: auto;
}

/* line 80, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
#member-of-bands {
  color: white;
  width: 80%;
  background-color: #2b2b2b;
  border-radius: 28pt;
  margin-right: auto;
  margin-left: auto;
}

/* line 89, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
#pending-approvals {
  color: white;
  width: 80%;
  margin-top: 5%;
  background-color: #2b2b2b;
  border-radius: 28pt;
  margin-right: auto;
  margin-left: auto;
}

/* line 99, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
#youtube-window {
  width: 80%;
  margin: 5%;
  background-color: #2b2b2b;
  border-radius: 28pt;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

/* line 109, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
#map {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25%;
  margin-bottom: 5%;
}

/* line 116, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
#nearby-musicians {
  color: white;
  width: 80%;
  margin: 5%;
  background-color: #2b2b2b;
  border-radius: 28pt;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 4%;
}

/* line 127, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

/* line 138, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 147, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
.contact {
  display: block;
}

/* line 152, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
.button {
  background-color: #ccc;
  color: black;
  border-radius: 28px;
  position: relative;
  right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* line 162, /Users/francisgallo/Desktop/bitmaker/bandaide/app/assets/stylesheets/musicians.scss */
#skill_position_id {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
