<ul class="band-list">
<% @bands.each do |band| %>
  <li>
  <%= link_to band_path(band.id) do %>
    <%= image_tag band.poster.profile %>
    <p><%= band.name %></p>
  <% end %>
  </li>
<% end %>
</ul>
