<ul class="musicians-list">
  <% @musicians.each do |musician| %>
    <li>
    <%= link_to musician.firstname, musician_path(musician.id) %><br />
    <%= image_tag musician.avatar.thumb %><br />
    <% if current_musician.present? %>
      <%= musician.display_distance_to(@musician) %> km away<br />
    <% else %>
      <p>Based in <%= musician.city %> </p>
    <% end %>
  </li>
  <% end %>
</ul>
