<h1>Welcome to Band Aide</h1>

<h3>Bands</h3>

<% @bands.each do |band| %>
  <%= band.name %><br />
<% end %>

<h3>Musicians</h3>

<% @musicians.each do |musician| %>
  <%= musician.firstname %><br />
  <%= image_tag musician.avatar.thumb %><br />
<% end %>
