<h1>Welcome to Band Aide</h1>
<main>
  <section id="bands-list">

    <h3>Bands</h3>

  <div class="bands">
    <%= render "home/bands" %>
  </div>
  </section>

  <aside id="search-category-list">
    <p>
      Search by Genre:
    </p>
    <% @genres.each do |genre| %>
      <%= link_to genre.description, remote: true, class: "#{genre.description}" %>
    <% end %>
  </aside>

  <section id="musicians-list">
    <h3>Musicians</h3>

    <% @musicians.each do |musician| %>
      <%= link_to musician.firstname, musician_path(musician.id) %><br />
      <%= image_tag musician.avatar.thumb %><br />
    <% end %>
  </section>
  <section>
    <div id="map">

    </div>
  </section>
</main>
