
<h1>Bands#index</h1>


<% @bands.each do |band| %>

<p>
  <%= image_tag band.poster.thumb %><br />
  <%= link_to band.name, band_path(band.id)%>
  <%= band.genre.description %><br />
</p>

<p>
  <%= band.description %><br />
</p>

<% end %>
