
<h1> Band page <h1>

<h1><%= @band.name %></h1>

<%= image_tag @band.poster.profile %>

<%= @band.description %>

<% if musician_signed_in? %>
  <% if @band.leader.id == current_musician.id %>
  <p>
    "Hi"
  </p>
  <% end %>
<% end %>

<br /><%= link_to "Back", request.referer.present? ? request.referer : root_path %>
