
@import "bourbon";
@import "neat";
@import "base/base";

header>video{
  @include outer-container;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  min-height: 100%;
  min-width: 100%;
  z-index: 1;

  
}
