*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h3 {
  font-size: 12pt;
}

aside {
  margin-left: 5%;
  float: left;
  width: 25%;
  background-color: #ccc;
  height: 100%;
  border-radius: 5%;

  h1 {
    font-size: 20pt;
  }

  h3{
    font-size: 16pt;
  }
}

main {
  float: left;
  width: 65%;
  padding: 30px;
  margin-right: 5%;
}

#map {
  margin-left: auto;
  margin-right: auto;
}
