*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h1 {
  font-size: 20pt;
}

h3{
  font-size: 12pt;
  font-weight: bold;
}

aside {
  margin: 2%;
  float: left;
  width: 25%;
  border: 5px solid #ccc;
  height: 100%;
  border-radius: 28px;
}

h2 {
  font-size: 1em;
}

// #bands-owned {
//
// }
//
// #member-of-bands {
//
// }

#map {
  margin-left: auto;
  margin-right: auto;
}


.apply-button {
  background-color: red;
  border-radius: 28px;
}



form{
  width:300px;
  display: inline-block;
  align_left: 66%;

}
