.container {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h1 {
  font-size: 20pt;
}

.field {
  font-size: 14pt;
}

#field {
  font-size: 14pt;
}

em {
  font-size: 11pt;
}
