.slick-prev:after {
  content: ">";
  color: red;
  font-size: 30px;
}

.slick-next:before {
  content: "<";
  color: red;
  font-size: 30px;
}

main {
  width: 100%;
  float: left;
  height: 100%;
  padding: 30px;
}
