// Place all the styles related to the musicians controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

aside {
  // @include span-columns(4);
  padding: 20px;
  }

main {

  #bands-list {
  }

  #musicians-list {
  }

  h1 {
    text-align: left;
    color: white;
  }

  h2 {

  }

  h3 {
    color: white;
    font-size: 0.8em;
    margin-top: 25px;
  }

  #bands-owned {
  }

  #member-of-bands {
  }

  #youtube-window {
  }

  #nearby-musicians {
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}
