// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#searchmap {
  height: 600px;
  width: 1000px;
}

#position{
  width: 200px
}

#genre{
  width: 200px;
}
