// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#searchmap {
  height: 500px;
  width: 1000px;
}

.filter {
  display: block;
}

.filter_type {
  display: inline-block;
}

body {
  display: block;
}

filter {
  margin: auto;
}

main {
  margin: auto;
  padding: 0;
  display: block;
  float: left;
  overflow: hidden;
  width:  100%;
  border: none;
}

#position{
  width: 200px;
}

#genre{
  width: 200px;
}
